@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
    @apply bg-gray-800;
}

.snap {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.snap::-webkit-scrollbar {
    display: none;
}

.snap > div {
    scroll-snap-align: center;
}

[x-cloak] { display: none; }