@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
    @apply bg-gray-800;
}

.flipit {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.snap {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.snap::-webkit-scrollbar {
    display: none;
}

.snap > div {
    scroll-snap-align: center;
}

[x-cloak] {
    display: none;
}

:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 4;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    overflow: visible;
    position: relative;
}
.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee:before {
    left: 0;
}
.marquee:after {
    right: 0;
}
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
    animation-play-state: paused;
  } */

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    /* width: 100%;
    height: 100%; */
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }
    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

.grid-indigo {
    background-image: radial-gradient(#5a67d8 2px, transparent 2px);
    background-size: 16px 16px;
}

.card-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.imgClass {
    opacity: 1;
    display: block;
    width: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}
.hoverText {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: justify;
}
.card-container:hover img {
    opacity: 0.2;
}
.card-container:hover .hoverText {
    opacity: 1;
}
