---
layout: page
title: About
titletag: About our attorneys and staff | Bernhardt Riley
metadesc: Our firm is led by a team of talented attorneys and dedicated administrative staff who are committed to helping you achieve your goals. Contact us today for more information!
description: We have a team of professionals who work to provide quality representation for our clients in both criminal and civil cases ranging from personal injury claims to employment law disputes.
thumbnail: "/static/img/posts/orig-library.jpg"
image: /static/img/posts/orig-library.jpg
tint: bg-gray-400
path: about
---

{% include "./_includes/partials/attorneys.html" %}
{% include "./_includes/partials/staff.html" %}
{% include "./_includes/partials/short-banner.html" %}
{% include "./_includes/partials/badges.html" %}