---
layout: default
title: Bernhardt Riley
titletag: Bernhardt Riley | Florida Law Firm
metadesc: At Bernhardt Riley we have handled thousands of criminal cases. Our lawyers are highly respected for their trial skills and the results they produce for our clients.
thumbnail: "/static/img/posts/orig-stephen-office4.webp"
path: home
---

{% include "./_includes/partials/hero.html" %}
{% include "./_includes/partials/short-banner.html" %}
<div class="bg-marble-back bg-cover bg-bottom">
  {% include "./_includes/partials/badges.html" %}
  {% include "./_includes/partials/aboutsection2.html" %}
</div>
{% include "./_includes/partials/aboutsection3.html" %}
{% include "./_includes/partials/practiceareassection.html" %}
{% include "./_includes/partials/short-banner.html" %}
{% include "./_includes/partials/locations.html" %}
{% include "./_includes/partials/testimonials4.html" %}

<script>
  if ("serviceWorker" in navigator) {
    navigator
      .serviceWorker
      .register("/service-worker.js")
      .then(function () {
        console.log("ServiceWorker has been registered!");
      })
      .catch(console.error);
  }
</script>