<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ]
  }
  ```
-->
<div class="container relative py-16">
  <div class="absolute inset-x-0 top-0 hidden h-1/2 lg:block" aria-hidden="true"></div>
  <div class="max-w-5xl mx-auto bg-br-500 lg:bg-transparent lg:px-8">
    <div class="lg:grid lg:grid-cols-12">
      <div class="relative z-10 lg:col-start-1 lg:row-start-1 lg:col-span-4 lg:py-16 lg:bg-transparent">
        <div class="absolute inset-x-0 bg-white h-1/2 lg:hidden" aria-hidden="true"></div>
        <div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
          <div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">
            <img class="object-cover object-center shadow-2xl rounded-3xl" src="/static/img/logos/logo-white-blue-back.svg" alt="">
          </div>
        </div>
      </div>

      <div class="relative py-8 bg-br-500 lg:col-start-3 lg:row-start-1 lg:col-span-10 lg:rounded-3xl lg:grid lg:grid-cols-10 lg:items-center">

        <div class="relative max-w-md px-4 py-12 mx-auto space-y-6 sm:max-w-3xl sm:py-16 sm:px-6 lg:max-w-none lg:p-0 lg:col-start-4 lg:col-span-6">
          <h2 class="prose-2xl text-white" id="join-heading">PROFESSIONALISM. INTEGRITY. ATTENTION TO DETAIL.</h2>
          <p class="prose text-justify text-white">Stephen Bernhardt and Athena Pearl Riley both have extensive trial experience in misdemeanor and felony criminal cases and in business and real estate litigation.<br><br>
              As former felony prosecutors, Bernhardt Riley understands the best defenses available to defend you when it counts and with a skilled real estate attorney and Realtor on its team, attains the experience needed to represent and protect the right of businesses and property owners alike.</p>
          <a class="block w-full px-5 py-3 text-base font-medium text-center bg-white border border-transparent rounded-md shadow-md text-br-500 hover:bg-gray-50 sm:inline-block sm:w-auto" href="#">Learn more about our firm</a>
        </div>
      </div>
    </div>
  </div>
</div>