<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-center bg-cover bg-fixed bg-tampa-back">
  <div class="relative max-w-5xl pt-16 pb-32 mx-auto overflow-hidden ">
    <div class="relative">
      <div class="lg:mx-auto lg:max-w-5xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div class="mt-6">
              <div class="mb-6 lg:mb-0">
                <h2 class="mb-2 prose prose-2xl text-white font-bold">
                  Criminal Defense Attorneys in Palm Harbor & Northwest Florida
                </h2>
                <div class="w-20 h-1 bg-br-300 rounded"></div>
              </div>
              <p class="mt-4 prose prose text-justify text-white">
                Led by former felony prosecutors, the criminal expertise Bernhardt Riley applies to its misdemeanor and felony cases is unsurpassed. Bernhardt Riley is on your side, as they expertly defend and protect the rights of every client in communities throughout Hillsborough, Pinellas, Pasco Counties, and the Northwest Florida counties of Okaloosa, Walton, Santa Rosa, Escambia and Bay.
            </p>
              <div class="mt-6">
                <a href="/posts/attorneys/stephen-bernhardt" class="prose prose-lg inline-flex px-4 py-2 text-white border border-transparent rounded-md shadow-sm bg-br-300 hover:bg-br-400">
                    Learn more about Stephen Bernhardt
              </a>
              </div>
            </div>
          </div>
          <div class="pt-6 mt-8 border-t border-white">
            <blockquote class="p-6">
              <div>
                <p class="prose prose-sm text-justify text-white ">
                  &ldquo;I was involved in a contract dispute with a former employer. Steve was very helpful and effective throughout the negotiations. He does a great job explaining different paths to pursue and was always responded quickly to any concerns I had. He was very knowledgeable and I will continue going to him with any legal help I may need in the future.&rdquo;
            </p>
              </div>
              <footer class="mt-3">
                <div class="flex items-center space-x-3">
                  <div class="prose prose-lg text-white">
                  Ryan, Bernhardt Riley Client
              </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div class="pl-4 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full ">
            <figure class="object-center">
              <div class="max-w-full h-auto align-middle border-8 border-br-300">
                <img class="object-contain" src="/static/img/about/sb_orig_size.jpg" alt="Whitney leaning against a railing on a downtown street" width="1184" height="1376">
              </div>
              <figcaption class="object-center">
                <h2 class="ml-2 mt-3 text-center prose prose-2xl text-white">Stephen Bernhardt, Attorney</h2>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-5xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
          <div>
            <div class="mt-6">
              <div class="mb-6 lg:mb-0">
                <h2 class="mb-2 prose prose-2xl text-white font-bold">
                Real Estate & Business Litigation Attorneys in Palm Harbor & Northwest Florida
              </h2>
                <div class="w-20 h-1 bg-br-300 rounded"></div>
              </div>

              <p class="mt-4 prose prose text-justify text-white">
              Having a real estate attorney who is also a Florida licensed Realtor has proven to be a valuable asset to the clients that Bernhardt Riley serves. Bernhardt Riley is on your side, as they expertly protect the business and property interests of every client in communities throughout Hillsborough, Pinellas, Pasco Counties and the Northwest Florida counties of Okaloosa, Walton, Santa Rosa, Escambia and Bay.
            </p>
              <div class="mt-6">
                <a href="/posts/attorneys/athena-pearl-riley" class="prose prose-lg inline-flex px-4 py-2  text-white border border-transparent rounded-md shadow-sm bg-br-300 hover:bg-br-400">
                  Learn more about Athena Pearl Riley
              </a>
              </div>
            </div>
          </div>
          <div class="pt-6 mt-8 border-t border-white">
            <blockquote class="p-6">
              <div>
                <p class="prose prose-sm text-justify text-white">
              &ldquo;I’ve been working with Athena on a very difficult partition action. She as been on point and prepare every step of the way. The case went to trial with a positive outcome. She’s impressive to watch, a very skilled litigator. I would give her 10 stars if possible.&rdquo;
            </p>
              </div>
              <footer class="mt-3">
                <div class="flex items-center space-x-3">
                  <div class="prose prose-lg text-white">
                Linda, Bernhardt Riley Client
              </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div class="pr-4 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <figure class="object-center">
              <div class="max-w-full h-auto align-middle border-8 border-br-300">
                <img class="object-contain " src="/static/img/about/apr_orig_size.jpg" alt="Whitney leaning against a railing on a downtown street" width="1184" height="1376"></img>
              </div>
              <figcaption class="object-center">
                <p class="ml-2 mt-3 text-center prose prose-2xl text-white">Athena Pearl Riley, Attorney</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>