<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
<div class="relative overflow-hidden">
  <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
    <main class="mx-auto max-w-7xl px-4 sm:px-6">
      <div class="lg:grid lg:gap-8">
        <div class="sm:text-center md:mx-auto lg:col-span-6 lg:text-left">
          <div class="
            col-span-6
            lg:text-center
            container
            mx-auto
            mb-8
            flex flex-col
            md:flex-row
            rounded-md
            shadow-sm
            overflow-hidden
            border-8 border-br-900" >
            <div class="relative mx-auto w-full">
              <div class="aspect-w-16 aspect-h-9">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/4EcW8Wisi-s?controls=0"
                  srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/4EcW8Wisi-s?autoplay=1><img src=/static/img/logos/logo-video.png alt='Bernahrd Riley Law Firm'><span>▶</span></a>"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  title="Bernahrd Riley Law Firm"
                ></iframe>
              </div>
            </div>
          </div>
          <h2>
            <span
              class="
                mt-1
                block
                text-xl
                tracking-tight
                font-extrabold
                sm:text-3xl
                xl:text-4xl
              "
            >
              <span class="block text-br-900 uppercase"
                >Integrity.<br/>Professionalism. <br/>Attention to
                Detail.</span
              >
            </span>
          </h2>
          <p
            class="
              prose prose
              mt-3
              text-base text-justify text-bg-900
              sm:mt-5 sm:text-xl
              lg:text-lg
              xl:text-xl
            "
          >
            At Bernhardt Riley, our skilled attorneys have extensive trial
            experience in Criminal Law, Debt Relief, Business Litigation, Real
            Estate Litigation and General Civil Litigation. We are committed to
            providing the best possible representation for our clients.
          </p>
          <span
            class="
              mt-6
              block
              text-xl
              tracking-tight
              font-extrabold
              sm:text-3xl
              xl:text-4xl
            "
          >
            <span class="block text-br-900 uppercase"
              >You want us on your side!</span
            >
          </span>
          <p
            class="
              prose prose
              mt-3
              text-base text-justify text-bg-900
              sm:mt-5 sm:text-xl
              lg:text-lg
              xl:text-xl
            "
          >
            As former felony prosecutors, Bernhardt Riley understands the best
            defenses available to defend you when it counts, and with a skilled
            real estate attorney and Realtor on its team, attains the experience
            needed to represent and protect the right of businesses and property
            owners alike.
          </p>
          <h1
            class="
              prose prose
              mt-3
              mb-8
              text-base text-justify text-bg-900
              sm:mt-5
            "
          >
            Bernhardt Riley | Criminal Law, Business Litigation and Civil
            Litigation Attorneys | Tampa and Destin Florida
          </h1>
        </div>
      </div>
    </main>
  </div>
</div>