<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-center bg-cover bg-scroll bg-tampa-back">
  <div class="relative max-w-5xl pt-16 pb-32 mx-auto overflow-hidden ">
    <div class="relative">
      <div class="lg:mx-auto lg:max-w-5xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-2">
          <div class="pl-4 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full ">
            <figure class="object-center">
              <a href="/posts/attorneys/stephen-bernhardt">
                <div class="max-w-full h-auto align-middle rounded-md border-8 border-br-300 hover:border-br-900">
                  <div class="object-contain">
                    {% image "/static/img/posts/orig-smb-about1.jpg", "Stephen M. Bernhardt" %}
                  </div>
                </div>
              </a>
            </figure>
          </div>
        </div>
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-1">
          <div>
            <div class="mt-6">
              <div class="mb-6 lg:mb-0">
                <h2 class="mb-2 prose prose-2xl text-white text-3xl font-bold uppercase">
                  Stephen M. Bernhardt
                </h2>
                <div class="w-20 h-1 bg-br-300 rounded"></div>
              </div>
              <p class="mt-4 prose prose text-justify text-white">
                Stephen M. Bernhardt is an attorney who has been practicing since 2010. He began his legal career as a prosecutor, handling both misdemeanor and felony offenses such as DUI, Battery, Possession of a Controlled Substance, Violation of Injunction and many others.  <br><br>Mr. Bernhardt has conducted many trials involving high-level crimes, and has extensive trial experience dedicating part of his practice to defending individuals facing lawsuits from debt collectors or credit card companies.
                <br><br>
                Mr. Bernhardt has practiced civil law for one of the largest creditor's rights firms in the United States, even becoming the lead litigator for the firms Florida office.  Mr. Bernhardt doesn't just know about the law - he knows how to use it too!
            </p>
              <div class="mt-6">
                <a href="/posts/attorneys/stephen-bernhardt/" class="prose prose-lg inline-flex px-4 py-2 text-white border border-transparent rounded-md shadow-sm bg-br-300 hover:bg-br-400">
                    Learn more about Stephen M. Bernhardt
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-5xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div class="pr-4 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <figure class="object-center">
              <a href="/posts/attorneys/athena-pearl-riley">
                <div class="max-w-full h-auto align-middle  rounded-md border-8 border-br-300 hover:border-br-900">
                  <div class="object-contain flipit">
                    {% image "/static/img/posts/orig-apr-about1.jpg", "Athena Pearl Riley" %}
                  </div>
                </div>
              </a>
            </figure>
          </div>
        </div>
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
          <div>
            <div class="mt-6">
              <div class="mb-6 lg:mb-0">
                <h2 class="mb-2 prose prose-2xl uppercase text-3xl text-white font-bold">
                Athena Pearl Riley
              </h2>
                <div class="w-20 h-1 bg-br-300 rounded"></div>
              </div>

              <p class="mt-4 prose prose text-justify text-white">
              Athena Pearl Riley is a former felony prosecutor, licensed REALTOR®, and real estate investor who has been practicing law since 2010. <br><br>

              Mrs. Riley guides individuals through the formation and defense of their business entities, and helps property owners and HOA's manage their disputes. She also defends claiments in civil asset forfeiture cases brought by the state, among handling a number of other civil litigation matters.

              <br><br>Mrs. Rileys extensive trial experience, meticulous attention to case details, and real estate background has made her the go-to attorney for individuals, investors and businesses alike seeking the zealous representation they deserve!
            </p>
              <div class="mt-6">
                <a href="/posts/attorneys/athena-pearl-riley/" class="prose prose-lg inline-flex px-4 py-2  text-white border border-transparent rounded-md shadow-sm bg-br-300 hover:bg-br-400">
                  Learn more about Athena Pearl Riley
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>