<!-- This example requires Tailwind CSS v2.0+ -->
<div class="overflow-hidden">
  <div class="py-8">
    <div class="marquee">
      <ul class="marquee-content">
        {% if badges.items %}
          {% for item in badges.items %}
            <li class="">
              <div class="h-40 w-40">
                <img src="{{item.url}}" alt="{{item.name}}"/>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<script>
const root = document.documentElement;
const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
const marqueeContent = document.querySelector("ul.marquee-content");

if (marqueeContent) {
    root.style.setProperty("--marquee-elements", marqueeContent.children.length);

    for (let i = 0; i < marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
    }
}

var tds = document.querySelectorAll("udate");
for (i = 0; i < tds.length; ++i) {
    tds[i].innerHTML = tds[i].innerHTML.replace(/&nbsp;/g, " ");
}
</script>