<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative py-24">
  <div class="absolute inset-0">
    <div class="w-full h-full object-cover">
    {% image "/static/img/posts/post-compression/orig-columnsback3.webp", title %}
    </div>
    <div class="absolute inset-0 bg-gray-500 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h2 class="prose text-4xl font-extrabold text-white sm:text-5xl lg:text-6xl">{{title}}</h2>
    <p class="mt-6 prose prose-2xl text-white text-justify max-w-3xl">{{description}}</p>
    <h1 class="mt-6 text-sm text-white max-w-3xl">{{titletag}}</h1>
  </div>
</div>
