<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-br-900">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-200 sm:text-4xl">
      <span class="block">Call or Text us TODAY!</span>
      <span class="block text-br-300">For your free consultation</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="tel:{{settings.tampaPhone}}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-br-300 hover:bg-br-500">
          {{settings.tampaPhone}}
        </a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="tel:{{settings.destinPhone}}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-br-500 bg-white hover:bg-br-500 hover:text-white">
          {{settings.destinPhone}}
        </a>
      </div>
    </div>
  </div>
</div>
