<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
<footer class="bg-br-900" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="max-w-5xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">

    <div class="grid gap-10 mt-10 mb-8 grid-cols-2 lg:grid-cols-5">

      {% set postslist = collections["Locations"]%}
      {% if postslist | length %}
        {% for post in postslist %}
          <div>
            <h3 class="prose prose-xl text-white">{{post.data.title}}</h3>
            <p class="mt-2 prose prose-sm text-gray-300">
              <span class="block">{{post.data.streetAddress1}} {{post.data.streetAddress2}}</span>
              <span class="block">{{post.data.cityState}}
                {{post.data.zipCode}}</span>
            </p>
          </div>
        {% endfor %}
      {% endif %}

    </div>

    <div class="border-t border-gray-700 flex flex-wrap mx-auto justify-center gap-10 mt-8 pt-8">

      <div class="inline-flex rounded-md shadow text-white">
        <a href="tel:{{settings.tampaPhone}}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-br-300 hover:bg-br-500">
         Tampa Area Office: {{settings.tampaPhone}}
        </a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow text-white">
        <a href="tel:{{settings.destinPhone}}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-br-500 bg-white hover:bg-br-500 hover:text-white">
         Northwest Florida Office: {{settings.destinPhone}}
        </a>
      </div>
    </div>

    <div class="border-t border-gray-700 mt-8 pt-8 ">
      <div class="grid grid-cols-3 gap-8">
        <div class="md:grid">
          <div class="mt-12 md:mt-0">
            <h3 class="prose prose text-gray-400  uppercase">
              Our Attorney's
            </h3>
            <ul class="mt-4 space-y-1 ">
              {% set postslist = collections["Attorneys"]%}
              {% if postslist | length %}
                {% for post in postslist %}
                  <li>
                    <a href="{{post.url | url}}" class="prose prose-sm text-gray-300 hover:text-white">
                      {{post.data.name}}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="md:grid md:gap-8 md:text-center">
          <div class="mt-12 md:mt-0">
            <h3 class="prose prose text-gray-400  uppercase">
              Practice Areas
            </h3>
            <div class= "grid md:grid-cols-2">
              <ul class="mt-4 space-y-1">
                <li>
                  <a href="/practice-areas/criminal-defense/" class="prose prose-sm  text-gray-300 hover:text-white">
                  Criminal Defense
                </a>
                </li>

                <li>
                  <a href="/practice-areas/personal-injury/" class="prose prose-sm  text-gray-300 hover:text-white">
                  Personal Injury
                </a>
                </li>

                <li>
                  <a href="/practice-areas/real-estate/" class="prose prose-sm  text-gray-300 hover:text-white">
                  Real Estate Litigation
                </a>
                </li>
              </ul>
              <ul class="mt-4 space-y-1">
                <li>
                  <a href="/practice-areas/debt-defense/" class="prose prose-sm  text-gray-300 hover:text-white">
                  Debt Defense
                </a>
                </li>

                <li>
                  <a href="/practice-areas/bankruptcy/" class="prose prose-sm  text-gray-300 hover:text-white">
                  Bankruptcy
                </a>
                </li>

                <li>
                  <a href="/practice-areas/business-litigation/" class="prose prose-sm  text-gray-300 hover:text-white">
                  Business Litigation
                </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="md:grid  md:gap-8 md:text-right">
          <div class="mt-12 md:mt-0">
            <h3 class="prose prose text-gray-400  uppercase">
              Site Map
            </h3>
            <ul class="mt-4 space-y-1">
              <li>
                <a href="/" class="prose prose-sm text-gray-300 hover:text-white">
                  Home
                </a>
              </li>

              <li>
                <a href="/about/" class="prose prose-sm text-gray-300 hover:text-white">
                  About
                </a>
              </li>

              <li>
                <a href="/practice-areas/" class="prose prose-sm text-gray-300 hover:text-white">
                  Practice Areas
                </a>
              </li>

              <li>
                <a href="/locations/" class="prose prose-sm text-gray-300 hover:text-white">
                  Locations
                </a>
              </li>

              <li>
                <a href="/contact/" class="prose prose-sm text-gray-300 hover:text-white">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="xl:grid xl:grid-cols-2 xl:gap-8 border-t border-gray-700 mt-8 pt-8">
        <div>
          <h3 class="prose prose text-gray-400  uppercase">
            Disclaimer
          </h3>
        </div>
        <div class="align-center">
          <p class="mt-8 text-gray-400 md:mt-0 md:order-1">
        Website Design by
        <a href="{{settings.url}}" target="_blank" class="text-br-300">{{settings.author}}</a> © 2021
        </p>
        </div>
      </div>
      <p class="mt-4 text-xs text-justify text-gray-300">
            The information on this website is for general information purposes only and is not intended to be legal advice. Neither viewing the site nor contacting us through the site creates an attorney-client relationship. Contact us for more information.
          </p>
    </div>
  </footer>