<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-500 h-screen justify-center items-center flex overflow-hidden bg-hero-back bg-center bg-cover bg-no-repeat">
  <main class="animate-slideIn mx-auto max-w-5xl px-4">
    <div class="text-center">
      <div class="mx-auto">
      {% image "/static/img/logos/logo-white-bot.svg" ,"Bernhardt Riley Logo" %}
    </div>
    <p class="mt-3 max-w-md mx-auto text-white sm:text-lg md:mt-8 md:text-3xl md:max-w-3xl uppercase tracking-wider">
          You want us on your side
        </p>
    <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
      <div class="rounded-md shadow-xl">
        <a href="/practice-areas/" class="w-full flex  items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-br-300 hover:bg-br-500 md:py-4 md:text-lg md:px-10 uppercase">
              Practice Areas
            </a>
      </div>
      <div class="mt-3 rounded-md shadow-xl sm:mt-0 sm:ml-3">
        <a href="/contact/" class="w-full flex  items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-br-400 bg-white hover:bg-br-500 hover:text-white md:py-4 md:text-lg md:px-10 uppercase">
              Contact Us
            </a>
      </div>
    </div>
  </div>
</main>
</div>