<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ]
  }
  ```
-->
<div class="bg-white">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="overflow-hidden rounded-md shadow-xl bg-br-400 lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="px-6 pt-10 pb-12 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
            <span class="block xl:inline">{{parea}} in</span>
            <span class="block text-br-300 xl:inline">{{title}}</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-br-200">{{desc}}</p>
          <a href="#" class="inline-flex items-center px-5 py-3 mt-8 text-base font-medium text-br-600 bg-white border border-transparent rounded-md shadow hover:bg-white">Sign up for free</a>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <div class="object-cover object-left-top transform translate-x-6 translate-y-6 rounded-md shadow-xl sm:translate-x-16 lg:translate-y-20">
          {% image image, title" %}
        </div>
      </div>
    </div>
  </div>
</div>