<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
    ]
  }
  ```
-->

<div class="relative bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">
      <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto">
        <div>
          <div class="max-w-prose mx-auto">
            <div class="w-full rounded-lg shadow-lg border-8 border-br-900">
              {% image thumbnail,
              title %}
            </div>
          </div>
        </div>
        <div class="px-8 py-16">
          <div class="text-base max-w-prose mx-auto">
            <h2 class="leading-6 text-br-600 font-semibold tracking-wide uppercase">Bernhardt Riley</h2>
            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{title}}</h3>
            <div class="mt-5 prose prose-blue text-br-900 text-justify">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>