<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative py-16 bg-white sm:py-24 lg:py-16">
  <div class="max-w-md px-4 mx-auto text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <h2 class="text-base font-semibold tracking-wider uppercase text-br-300">Get more information on your issues</h2>
    <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      Practice Areas
    </p>
    <p class="mx-auto mt-5 text-xl text-gray-500 max-w-prose">
      We fight to protect your rights in the following areas:
    </p>
    <div class="mt-12">

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {% if pareas.links %}

          {% for item in pareas.links %}
            <div class="pt-6">
              <div class="flow-root {{item.image}} bg-cover bg-fixed rounded-lg px-6 pb-8 ">
                <a href="{{item.url}}">
                  <div class="py-12 h-64 text-justify">

                    <img src="{{item.svg}}" class="break-normal bg-white bg-opacity-50 inline rounded-lg p-2 h-12"/>
                    <h3 class="px-4 prose-xl inline text-medium text-white">{{item.title}}</h3>

                    <p class="mt-5 prose-sm text-justify text-medium text-white">
                      {{item.desc}}
                    </p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>

  </div>
</div>