<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gradient-back border-br-900">
  <div class="max-w-7xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl prose prose-2xl text-white sm:text-4xl">
      <span class="block">Call us now for a free consultation!</span>
    </h2>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="tel:{{settings.tampaPhone}}" class="inline-flex items-center justify-center px-5 py-3 border-2 border-br-900 text-base font-medium rounded-md text-white bg-br-300 hover:bg-br-500">
          Tampa Bay Area <br>{{settings.tampaPhone}}
        </a>
      </div>
      <div class="ml-3 inline-flex">
        <a href="tel:{{settings.destinPhone}}" class="inline-flex items-center justify-center px-5 py-3 border-2 border-br-900 text-base font-medium rounded-md text-br-500 bg-white hover:bg-br-300">
          Northwest Florida <br>
          {{settings.destinPhone}}
        </a>
      </div>
    </div>
  </div>
</div>