<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ]
  }
  ```
-->
<div class="bg-white">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12">
            <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Meet our staff</h2>

            <ul class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">

                {% if staff.links %}
                    {% for item in staff.links %}

                        <li>
                            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                                <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                    <img class="object-cover rounded-lg shadow-lg" src="{{item.image}}" alt="">
                                </div>
                                <div class="sm:col-span-2">
                                    <div class="space-y-4">
                                        <div class="space-y-1 text-lg font-medium leading-6">
                                            <h3>{{item.name}}</h3>
                                            <p class="text-br-300">{{item.title}}</p>
                                        </div>
                                        <div class="text-lg">
                                            <p class="text-gray-500">{{item.bio}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                {% endif %}

                <!-- More people... -->
            </ul>
        </div>
    </div>
</div>