<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ]
  }
  ```
-->
<div class="bg-white">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12">

            <div class="flex flex-wrap mx-auto mb-20">
                <div class="p-4 mb-6 lg:w-1/2 lg:mb-0">
                    <h1 class="mb-2 prose prose-2xl text-br-400 text-2xl font-bold tracking-widest">Meet our staff</h1>
                    <div class="w-20 h-1 bg-br-300 rounded"></div>
                </div>
                <p class="p-4 prose prose-lg text-br-400 lg:w-1/2">Our expert legal staff has decades worth of experience helping our community thrive with a mix of personal care and professional skill!</p>
            </div>
            <ul class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">

                {% set postslist = collections["Staff"]%}
                {% if postslist | length %}
                    {% for post in postslist %}
                        <li>
                            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                                <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                    <img class="object-cover rounded-md shadow-lg" src="{{post.data.thumbnail}}" alt="">
                                </div>
                                <div class="sm:col-span-2">
                                    <div class="space-y-4">
                                        <div class="space-y-1 prose">
                                            <h3 class="prose-lg">{{post.data.name}}</h3>
                                            <p class="text-br-300 prose">{{post.data.title}}</p>
                                        </div>
                                        <div class="prose">
                                            <p class="text-gray-500 prose-sm text-justify">{{ post.templateContent | safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}

                <!-- More people... -->
            </ul>
        </div>
    </div>
</div>